@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto+Condensed&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Oswald', sans-serif; 
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1b124d;
    
    

}
body::before
{
    content:'';
    position: absolute;
    top: 0;
    left:0%;
    width: 100%;
    height:100%;
    background: linear-gradient(#f00,#f0f);
    clip-path:circle(30% at right 70%);
    
}

body::after
{
    content:'';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    background: linear-gradient(#0d69b5,#e91e63);
    clip-path:circle(20% at 10% 10%);
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    flex-wrap: wrap;
    z-index: 1;
    margin-top:0%;
   
}
@media (max-width:500px){
    .container{
        margin-top:60%
    
    }

}
@media (max-width:800px){
    .container{
        margin-top:20%
    
    }

}
@media (max-width:1360px){
    .container{
        margin-top:20%
    
    }

}
.container .card
{
position: relative;
width:280px;
height:400px;
margin:30px;
box-shadow: 20px 20px 50px rgba(0, 0, 0,0.5);
border-radius: 15px;
background-color: rgba(255, 255, 255, 0.1);
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
backdrop-filter: blur(5px);
}
.container .card .content{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0;

}
.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .content h2{
    position: absolute;
    top:-80px;
    right:30px;
    font-size: 8em;
    color:rgba(255, 255, 255, 0.05);
    pointer-events: none;

}
.container .card .content h3{
  
    font-size: 1.8em;
    color:#fff;
    z-index: 1;
   

}
.container .card .content p{
  
    font-size: 1em;
    color:#fff;
    font-weight: 300;
   
   

}
.container .card .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top:15px;
  background: #fff;
  color:#000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0,0,0, 0.2);  
   
   

}
.logo{
    position: absolute;
    left:32%;
    
    top:13%;
    animation-name: n2;
      animation-duration: 2s;
      
  }
  @keyframes n2{
      from{
          margin-left:-500px;
      }
      to{
          margin-left:0;
  
      }
  }
  @media (max-width:800px){
      .logo{
          position: absolute;
          left:10%;
          
          top:13%;
          width:8%
          
      }
      .logo>img{
          width:10%;
      }
  
      }
  
    
  
  .logo>img{
      width:20%;
  }
  .name{
     position: absolute;
     color: white;
     top: 12%;
     left:40%;
     font-size: 6vh;
     
     animation-name: n3;
     animation-duration: 2s;
     text-shadow: 12px 12px 12px rgb(0, 0, 0);
  }
  
  @keyframes n3{
     from{
         margin-top:-500px;
     }
     to{
         margin-left:0;
  
     }
  
  }