body {
    margin: 0; padding: 0;  /* body 태그의 CSS 기본값 수정 */
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #000000;

}
::-webkit-scrollbar { 
    display: none;}
h1 {
    margin: 0; padding: 0;
}
a, a:link, a:hover, a:visited
{
    color: #000000;
    text-decoration: none;
}
header {
    position: relative;
    width: 95%;
    height: 192px;
    margin: 0 auto;  /* position이 relative인 요소를 가운데 배치하는 방법 */
    color: #000000;
    background-color: #ffffff;
}
main {
    position: relative;
    width: 95%;
    height: 65vw;
    margin: 0 auto;
    background-color: #000000;
}
footer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 48px;
    color: #000000;
    background-color: #ffffff;
}


/* header 영역 스타일 */
#logo {
    position: relative;
    width: 360px;
    margin: 0 auto;
    padding-top: 32px;
    text-align: center;
    font-family: 'Amarante', cursive;
    font-size: 4.0em;
    font-weight: 700;
    /* background-color: #ffffff; */
}
#mainmenu {
    position: absolute;
    width: 400px;
    height: 24px;
    left: 50%; transform: translateX(-50%);
    bottom: 24px;
    text-align: center;
    /* background-color: #fff; */
}
#mainmenu > ul {
    display: inline-block;
    margin: 0; padding: 0;
    list-style-type: none;
}
#mainmenu > ul a:link,
#mainmenu > ul a:visited
{
    text-decoration: none;
    color: #000000;
}
#mainmenu > ul a:hover
{
    text-decoration: underline;
}
#mainmenu > ul li {
    float: left;
    padding: 0 24px;
    /* background-color: #fff;
    border: solid 1px #000; */
}
#mainmenu > ul li:hover {
    background-color: #ffffff;
}
#social {
    position: absolute;
    bottom: 24px;
    right: 8px;
}


/* main 영역 스타일 */
#item-grid {
    position: relative;
    width: 100%;
    background-image: url(images/image01.jpg);
    background-size: cover;
}
.item-container {
    float: left;
    position: relative;
    width: 33.3333333%;
    padding-top: 33.3333333%;
    /*background-color: crimson; */
} 
.item {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 80px;
    left: 8px;
    margin-top: 40px;
    overflow: hidden;
    
  
    /* background-color: blue; */
}

.item > img {
    position: absolute;
    top: 0;
    width: 100%;
    
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.7s ease;
    background-color: #000000;    
}
.item:hover .overlay {
    opacity: 1;

}  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 36px;
    width: 240px;
    height: 40px;
    margin: 0 auto;
    background-color: #000000;
    border-radius: 25px;

}
.button:hover {
    background-color: #1db954;
}
#about {
    position: relative;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 64px;
    background-color: #ffffff;
}
#about h1 {
    margin: 24px 0;
}

/* footer 영역 스타일 */
#copyright {
    position: absolute;
    left: 50%; transform: translateX(-50%);
    font-size: 1.0em;
    bottom: 16px;
}



@media screen and (max-width: 960px) {
    main {
        height: 100vw;
    }
    #item-container0 {
        margin-left: 0;
    }
    .item-container {
        width: 50%;
        padding-top: 50%;
    } 
    #social {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    main {
        height: 370vw;
    }
    #item-container0 {
        margin: 0;
    }
    .item-container {
        width: 100%;
        padding-top: 100%;
    } 
}
.logo{
    position: absolute;
    left:50%;
    
    top:2%;
    animation-name: n2;
      animation-duration: 2s;
      
      z-index: 10; 
  }
  @keyframes n2{
      from{
          margin-left:-500px;
      }
      to{
          margin-left:0;
  
      }
  }
  @media (max-width:979px){
      .logo{
          position: absolute;
          left:45%;
          
          top:2%;
          width:45%
          
      }
      .logo>img{
          width:10%;
      }
  
      }
  
    
  
  .logo>img{
      width:20%;
  }