

body{
    background-color: black;
}
::-webkit-scrollbar { 
    display: none;
}
.background-image{
    display: block;
    position:fixed ;
    width:60%;
    z-index: -3;
    left:-80%;
    top:-50%;
    transform: translate(80%,80%);
    opacity: 0.2;
}
.background-image2{
    display: block;
    position:fixed ;
    width:60%;
    z-index: -3;
    left:100%;
    top:-40%;
    transform: translate(-50%,0%);
    opacity: 0.2;
}

.pic{
    width: 100%;
    
}

.pic>img{
    width:100%;
    
}
.header{
    display: flex; 
    position: fixed;
    width:100%;
    margin-top:30px;
    justify-content: center;
    z-index: 10;
    left:50%;
    transform:translate(-50%)
}
.logo{
    width: 70px;

}

.logo>img{
    
    width:100%;
}
#item-grid {
    top:20%;
    position: absolute;
    width: 100%;
    background-image: url(images/image01.jpg);
    background-size: cover;
}
.item-container {
    
    position: relative;
    width: 100%;
    padding-top: 33.3333333%;
    /*background-color: crimson; */
} 
.item {
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: px;
    overflow: hidden;
    /* background-color: blue; */
}

.item > img {
    position: absolute;
    top: 0;
    width: 1000px;
    height: 700px;
}
.item2 {
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    
    overflow: hidden;
    /* background-color: blue; */
}

.item2 > img {
    position: absolute;
    top: -50px;
    width: 1000px;
    height:600px;
    left:   40%;
    opacity: 1;
    
    
    
}
.item3 {
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    overflow: hidden;
    /* background-color: blue; */
}

.item3 > img {
    position: absolute;
    top: 0;
    width: 700px;
    height: 550px;
}
.item4{
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    overflow: hidden;
    /* background-color: blue; */
}

.item4 > img {
    position: absolute;
    top: 0;
    width: 700px;
    height: 550px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;    
}
.item:hover .overlay {
    opacity: 1;
}  
.item2:hover .overlay {
    opacity: 1;
}  
.item3:hover .overlay {
    opacity: 1;
}  
.item4:hover .overlay {
    opacity: 1;
}  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 36px;
    width: 240px;
    height: 40px;
    margin: 0 auto;
    background-color: #000000;
    border-radius: 25px;

}
.button:hover {
    background-color: #1db954;
}
#about {
    position: relative;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 64px;
    background-color: #ffffff;
}
#about h1 {
    margin: 24px 0;
}

/* footer 영역 스타일 */
#copyright {
    position: absolute;
    left: 50%; transform: translateX(-50%);
    font-size: 1.0em;
    bottom: 16px;
}



@media screen and (max-width: 960px) {
    main {
        height: 100vw;
    }
    #item-container0 {
        margin-left: 0;
    }
    .item-container {
        width: 50%;
        padding-top: 50%;
    } 
    #social {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    main {
        height: 370vw;
    }
    #item-container0 {
        margin: 0;
    }
    .item-container {
        width: 100%;
        padding-top: 100%;
    } 
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text2 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 36px;
    width: 240px;
    height: 40px;
    margin: 0 auto;
    background-color: #000000;
    border-radius: 25px;

}
.button:hover {
    background-color: #1db954;
}
#about {
    position: relative;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 64px;
    background-color: #ffffff;
}
#about h1 {
    margin: 24px 0;
}
::-webkit-scrollbar { 
    display: none;
}
