*{border: solid 0.1px red;}

body{
    background-color: black;
}
::-webkit-scrollbar { 
    display: none;
}

.background-image{
    display: block;
    position:fixed ;
    width:60%;
    z-index: -3;
    left:-80%;
    top:-50%;
    transform: translate(80%,80%);
    opacity: 0.2;
}
.background-image2{
    display: block;
    position:fixed ;
    width:60%;
    z-index: -3;
    left:100%;
    top:-40%;
    transform: translate(-50%,0%);
    opacity: 0.2;
}

.pic{
    width: 100%;
    
}

.pic>img{
    width:100%;
    
}
.header{
    display: flex; 
    position: fixed;
    width:100%;
    margin-top:30px;
    justify-content: center;
    z-index: 10;
    left:50%;
    transform:translate(-50%)
}
.logo{
    width: 70px;

}

.logo>img{
    
    width:100%;
}

.main{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    height: auto; 
    justify-content: center;
}

.group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width:100%;
    color: black;
    margin-top: 150px;
}
.proimg{
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;
    
    
}
.box{
    background: white;
    width: 470px;
    height:300px;
    border-radius: 3px;
    position: absolute;
    left:36%;
    top:5%;
    
}
.project1{
    
    width:500px;
    height:290px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom:80px;
    background: rgb(72, 72, 72);
    box-shadow: rgb(37, 37, 37) 6px 12px 20px 0px ;
    z-index: 3;
    
}
.name{
    position: relative;
    color:rgb(255, 255, 255);
    left:0%;
    top:35%;
    text-shadow: 2px 5px 5px black;
}
p{
    left:3%;
    position: absolute;
    font-size: 25px;
    
}
    
.project1>img{
   height: 100%;
}
.pro2img{
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;

}

.project2{
    width:500px;
    height:290px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom:80px;
    background: rgb(72, 72, 72);
    box-shadow: rgb(37, 37, 37) 6px 12px 20px 0px ;
    z-index: 3;
}
.project2>img{
    height: 100%;
    width:100%;
}
.name{
    position: relative;
    color: white;
    left:0%;
    top:35%;
    text-shadow: 2px 5px 5px black;

}

.pro3img{
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;
    

}

.project3{
    width:500px;
    height:290px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom:80px;
    background: rgb(72, 72, 72);
    box-shadow: rgb(37, 37, 37) 6px 12px 20px 0px ;
    z-index: 3;
}

.project3>img{
    height: 100%;
    
}
.pro4img{
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;

}

.project4{
    width:400px;
    height:600px;
    border-radius: 20px;
    overflow: hidden;
    
    margin-bottom:80px;
}
.project4>img{
    height: 100%;
    
    
}
.project1:hover{
    transform: scale(1.03);
    transition: 0.1s;



}
.box{
    transform: scale(1.03);
    transition: 0.1s;

}
.pro2img:hover{
    transform: scale(1.1);
    transition: 0.1s;



}
.pro3img:hover{
    transform: scale(1.1);
    transition: 0.1s;



}
.pro4img:hover{
    transform: scale(1.1);
    transition: 0.1s;



}

