/* *{border: solid 0.1px red;} */

body{
    background-color: black;
}
::-webkit-scrollbar { 
    display: none;
}

.background-image{
    display: block;
    position:fixed ;
    width:60%;
    z-index: -3;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.pic{
    width: 100%;
    
}

.pic>img{
    width:100%;
    
}
.header{
    display: flex; 
    position: fixed;
    width:100%;
    margin-top:30px;
    justify-content: center;
    z-index: 10;
}
.logo{
    width: 340px;

}

.logo>img{
    
    width:100%;
}

.main{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    height: auto; 
    justify-content: center;
}

.group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width:100%;
    color: black;
    margin-top: 150px;
}
.proimg{
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;
}
.project1{
    width:300px;
    height:212px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom:80px;
}
    
.project1>img{
   height: 100%;
}
.pro2img{
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;

}

.project2{
    width:300px;
    height:212px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom:80px;
}
.project2>img{
    height: 100%;
    width:100%;
}

.pro3img{
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;

}

.project3{
    width:300px;
    height:212px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom:80px;
}
.project3>img{
    height: 100%;
    
}
.pro4img{
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;

}

.project4{
    width:212px;
    height:300px;
    border-radius: 20px;
    overflow: hidden;
    
    margin-bottom:80px;
}
.project4>img{
    height: 100%;
    
    
}
.proimg:hover{
    transform: scale(1.1);
    transition: 0.1s;



}
.pro2img:hover{
    transform: scale(1.1);
    transition: 0.1s;



}
.pro3img:hover{
    transform: scale(1.1);
    transition: 0.1s;



}
.pro4img:hover{
    transform: scale(1.1);
    transition: 0.1s;



}

